.view-product-container {
  border: 1px solid red;
}

.view-product-detail {

}

.view-product-details p {
  font-size: 1.2rem;
}

#product-name {
  font-size: 1.75rem;
}

#product-image {
  width: 320px;
}

#image-placeholder-container {
  border: 1px solid red;

}

.image-placeholder {
  border: 1px solid red;

}

/* Footer Styling */
footer {
    background-color: #1e1e1e;
    color: #888;
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;
}

footer >div{
  width: 33%;
  display: flex;
  flex-direction: row;
}

.footer-left {
  gap: 5%;
  padding-left: 1%;
  align-items: center;
}

.footer-middle {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-middle p {
  margin: 0.5%;
}

.footer-right {
  justify-content: right;
  gap: 4%;
  padding-right: 1%;
  font-size: 1.5rem;  
  align-items: center;
}

/* Divider styling for product headers */
.divider {
  border: none;
  border-top: 2px solid #cc5500; /* Use your accent color */
  margin: 0 auto 24px auto;
  width: 90%; /* Or 100% if you want it edge-to-edge */
  opacity: 0.8;
}